project/MyBicycleRedirectionService/MyBicycleRedirectionService/Connected Services/ServiceReference1/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="getResultFromRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResultFromRequestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getResultFromRequestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResultFromRequestWithTimeLimit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="request" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="timeLimit" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getResultFromRequestWithTimeLimitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="getResultFromRequestWithTimeLimitResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>